parameters:
  level: max
  paths:
    - src
    - tests
  tmpDir: build/phpstan
  checkGenericClassInNonGenericObjectType: true
  checkMissingCallableSignature: true
  reportUnmatchedIgnoredErrors: true
