<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Utility">
            <directory suffix="Test.php">tests/TestCase/Utility</directory>
        </testsuite>
        <testsuite name="Config">
            <directory suffix="Test.php">tests/TestCase/Config</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Plugin.php</file>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test"/>
    </php>
</phpunit>
